 body {
    text-align:center;
    display:flex;
    justify-content: center;
 }
 div {
    height: 100px;
    width:500px;
    border:1px solid black;
    margin: auto;
 }
 button {
   padding: 10px 20px;
   font-size: 18px;
   border: 2px solid black;
}
